.Media {
    height: 75vh;
    padding-left: 0;
    padding-right: 0;
}

.Media .jumbotron{
   height: 70vh;
   padding-left: 0;
   padding-right: 0;
   padding-top: 5%;
   background-color: #0b4f6c!important;
}

.MediaContainer {
    height: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.buttonContainer {
    position: relative;
}

.mediaButton{
    position: absolute;
    height: 3em;
    left: 1%;
}

/* Responsive Css  */
@media (max-width: 768px) { 
    .Media {
        height: 51vh;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .Media .jumbotron{
        height: 50vh;
    }

    .mediaButton{
        height: 2em;
    }
 }

