.Media {
    height: 75vh;
}

.Media .jumbotron{
   height: 70vh;
}

/* Responsive Css  */
@media (max-width: 768px) { 
    .Media {
        height: 51vh;
    }
    .Media .jumbotron{
        height: 50vh;
    }
 }

 