.Media {
    height: 75vh;
}

.Media .jumbotron{
   height: 70vh;
}

.MediaContainer {
    height: 100%;
    background-color: blue;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Responsive Css  */
@media (max-width: 768px) { 
    .Media {
        height: 51vh;
    }
    .Media .jumbotron{
        height: 50vh;
    }
 }

