.Meridio {
    height: 75vh;
}

.Meridio .jumbotron{
    height: 70vh;
}

/* Responsive Css  */
@media (max-width: 768px) { 
    .Meridio {
        height: 35vh;
    }
    
    .Meridio .jumbotron{
        height: 30vh;
    }
 }