.Meridio {
    height: 75vh;
    padding-left: 0;
    padding-right: 0;
}

.Meridio .jumbotron{
    height: 70vh;
    padding-bottom: 20%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
    background-color: #0b4f6c!important;
}

/* Responsive Css  */
@media (max-width: 768px) { 
    .Meridio {
        height: 35vh;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .Meridio .jumbotron{
        height: 30vh;
    }
 }

.Meridio .row{
     margin-left: 0;
     margin-right: 0;
 }