.Subjects {
    height: 100%;
    background-color: white;
    overflow-y: auto;
}


.Subjects button,.subject{
    height: 25px;
    display: inline-block;
}

@media (max-width: 768px) {
    .Subjects{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}