.Subjects {
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.subjectNames{
    text-align: left;
    text-transform: uppercase;
}

.Subjects button,.subject{
    display: inline-block;
}


.subjectForm{
    text-align: left;
}

.returnArrow{
    height: 2em;
}

@media (max-width: 768px) {
    .Subjects{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

